.blog-post-content .blog-post .area-content .blog-stats > span {
    margin-right: 26px;
    font-size: 11px;
    letter-spacing: 0.1em;
    display: inline-block;
    text-transform: lowercase;
    margin-right: 20px;
    margin-bottom: 5px;
    letter-spacing: 1.1px;
    line-height: 20px;
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 11px;
}

.blog-post-content .blog-post .area-content .blog-stats > span .fa {
    margin-right: 8px;
    font-size: 11px;
}

.heading-regular, .text-regular {
    font-family: "Montserrat";
    font-weight: 400;
}

.widget-title {
    color: #484848;
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: 400;
    border-bottom: 1px solid #acacac;
    padding-bottom: 22px;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
}

.search-form-group {
    position: relative;
}

.aside {
    display: block !important;
}

.sidebar {
    padding: 40px 0;
}

.search-form-text {
    border: 1px solid #e7ebee;
    color: #444444;
    padding: 11px 54px 11px 13px;
    width: 100%;
    border-radius: 0;
}

.search-form-button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    padding: 0;
    height: 44px;
    width: 44px;
    line-height: 44px;
    font-size: 14px;
    text-align: center;
    background: transparent;
}