.main-blog-detail{
    justify-content: space-between;
    padding: 20px 50px;
    display: flex;
    gap: 40px;
    display: grid;
    grid-template-columns: 2fr 1fr;

    margin-top: 100px;

    & .blog-content-container{

        & .blog-image{
            aspect-ratio: 16/9;
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        & .blog-head{
            text-transform: uppercase;
        }

        & .blog-information{
            display: flex;
            gap: 40px;
            color: var(--ternary-color);
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: flex-start;

            & div{
                display: flex;
                gap: 10px;
            }
        }

    }

    & .blog-recommendation{

        & h5{
            padding-bottom: 20px;
            border-bottom: 2px solid var(--outline-color);
        } 

        & .blog-recommendation-child{
        padding-bottom: 10px;
        border-bottom: 1px solid var(--outline-color);
        text-align: start;
        transition: border .2s linear;
        cursor: pointer;
        text-decoration: none;
        color: var(--secondary-color);

        &:hover{
            border-bottom: 3px solid var(--outline-color);
            transition: border .2s linear;
        }
    }
    }
}

@media (max-width: 768px) {
    .main-blog-detail{
        display: flex;
        flex-direction: column;


    }
}

@media (max-width: 480px){
    .main-blog-detail{
        padding: 20px 20px !important;

        & .blog-information{
            display: flex;
            flex-direction: column;
            gap: 20px !important;
        }

        & .blog-content{
            text-align: justify;
        }
    }
}