.dashboard-section{
    display: flex;
    height: 100%;
    min-width: 100vw;
    background-color: var(--primary-body-bg);

    --height: 80px;

}

.data-dashboard{

}

.dashboard-header{
    background-color: var(--bg-300) !important;
    left: 0;


    display: none;
}

.dashboard-side{
    display: flex;
    flex-direction: column;
    min-height: 100vh !important;
    min-width: 250px !important;
    background-color: var(--bg-300);
    justify-content: space-between;
    font-size: 1.5rem;

    & .logout-side{
        padding: 20px;
        cursor: pointer;
        width: 100%;

        & button{
            width: 100%;
        }

        &:hover{
            background-color: var(--primary-body-bg);
        }
    }
}

.dashboard-main{
    flex-grow: 1;
    padding: 30px 40px;
    max-height: 100vh;
    overflow-y: auto;
}

.dashboard-main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding-bottom: 30px;

    & a{
        background-color: var(--secondary-bg);
        padding: 10px 20px;
        border-radius: 10px;
        color: white;
        text-decoration: none;

        &:hover{
            background-color: var(--secondary-bg-hover);
        }
    }
}

.dashboard-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 20px 10px 20px;
    width: 90%;

    color: var(--black-100);
    text-decoration: none;
}

.dashboard-item-container {
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard-item{
    display: flex;
    gap: 15px;
    align-items: center;
    width: 80%;
    padding: 15px 25px;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    color: var(--black-100);


    & i{
    font-size: 1.7rem;
    }

    & h5{
        font-size: 1.5rem;
        margin: 0 !important;
    }

    &:hover {
        background-color: var(--primary-bg-hover);
        color: white;
    }

    &.-active-{
        cursor: default;
        background-color: var(--primary-bg) !important;
        color: white;
    }
}

.table-scroll{
    overflow: auto;

    &::-webkit-scrollbar{
        background-color: transparent;
        width: 10px;
        height: 10px;
    }

    &::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background-color: var(--black-500);
    }
}

.data-table{
    width: 100%;
    text-align: center;
    position: relative;

    & .menu-abs{
        position: absolute;
    }

    & tr:nth-child(1){
        background: var(--bg-600);

        & th{
            padding: 20px 20px;
            font-size: 1.4rem;
            font-weight: 700;
            text-wrap: nowrap;

        }
}

    & tr{

        & td:has(img){
            display: flex;
            align-items: center;
            justify-content: center;
            
            & img{
                width: 100px;
                height: 80px;

                object-fit: contain;
            }
        }

        & td {
            padding: 10px 10px;
            font-size: 1.4rem;
            font-weight: 500;
            min-width: var(--force-width) !important;
        }
    }

    & tr:nth-child(even){
            background: var(--bg-600) !important;
    }

    & tr:nth-child(odd){
        background: var(--bg-700);
    }
}

.tabz-open{
    cursor: pointer;
}

.tabz-dropdown-menu{
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--bg-500);
    display: none;
    flex-direction: column;
    width: fit-content;

    & .tabz-dropdown-item-contain{
        width: 100%;

        & .tabz-dropdown-item{
            padding: 10px 40px;
            display: flex;
            gap: 10px;
            align-items: center;
            width: 100%;
            text-decoration: none;
            color: var(--secondary-color);

            &:hover{
                background-color: var(--bg-300);
            }


        }
    }
}

@media only screen and (max-width: 768px) {
    .dashboard-side{
        display: none;
    }

    .dashboard-header{
        display: flex;
    }

    .dashboard-main{
        padding: 30px 20px;
        margin-top:  var(--height);
    }
}
