.teachers-list{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 25px;

    & .teacher-container{
        aspect-ratio: 16/9;
        width: min(400px, 100%);
        height: auto;
        position: relative;

        & .teacher-photo{
            width: 100%;
            height: 100%;

            & img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        & .teacher-info{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 60%;

            & h5{
                border-radius: 10px;
                padding: 10px;
                background-color: var(--secondary-bg-a);

                border-bottom-right-radius: 0px ;
                border-bottom-left-radius: 0px ;
                color: white;
                margin: 0;
            }

            & p{
                border-radius: 10px;
                border-top-right-radius: 0px ;
                border-top-left-radius: 0px ;
 
                margin: 0;
                background-color: var(--primary-bg);
                color: white;
                padding: 10px;
            }
        }
    }
}