/* General body styling */

:root {
    --black-100: #000;
    --black-200: #1c1c1c;
    --black-300: #2c2c2c;
    --black-400: #353535;
    --black-500: #444444;

    --white-100: #fff;
    --white-200: #F0F0F0;
    --white-300: #cdcdcd;
    --white-400: #afafaf;
    --white-500: #828282;
    --white-600: #666655;

    --bg-100: white;
    --bg-200: #dedede;
    --bg-300: #fff;
    --bg-400: #F0F0F0;
    --bg-500: #EAEAEA;
    --bg-600: #f5f5f5;
    --bg-700: #f2f2f2;

    --outline-100: #D6D6D6;
    --outline-200: #bdbdbd;

    --primary-bg: #f5ab35;
    --primary-bg-a: rgb(245, 171, 53, 0.7);
    --primary-bg-hover: #d1922d;

    --secondary-bg: #2359A8;
    --secondary-bg-a: rgb(35, 89, 168, 0.7);
    --secondary-bg-hover: #1a417b;

    --family: "montserrat", sans-serif;
    --spacing-section: 80px;
    --spacing-top-nav: 140px;

    --tr-th: #f5f6fa;
    --tr-td-odd: #f9f9f9;
    --tr-td-even: #ececec;

    --footer-bg: #0F4EA3;
    --footer-content-bg: #054499;
    --footer-head-bg: #003A8F;
}

@media (prefers-color-scheme: dark) {
    :root {

        --black-100: #fff;
        --black-200: #F0F0F0;
        --black-300: #cdcdcd;
        --black-400: #afafaf;
        --black-500: #828282;

        --white-100: #000;
        --white-200: #1c1c1c;
        --white-300: #2c2c2c;
        --white-400: #353535;
        --white-500: #444444;
        --white-600: #81816d;

        --bg-100: rgb(63, 63, 63);
        --bg-200: rgb(70, 70, 70);
        --bg-300: #262626;
        --bg-400: #393939;
        --bg-500: #2A2A2A;
        --bg-600: #2c2c2c;
        --bg-700: #353535;

        --outline-100: #454545;
        --outline-200: #5c5c5c;

        --base-fcolor: #ffffff;
        --base-fcolor-hover: #e4e4e4;

    }
}

* {
    font-family: var(--family);
    box-sizing: border-box;
    color: var(--black-100);
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    font-size: 1.4rem !important;
    font-family: var(--family);
    font-weight: 400;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background: var(--bg-500) !important;

    &:has(.main-side-navigation.open),
    &:has([class^='darkness-backdrop'].active) {
        overflow-y: hidden;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-weight: 500;
    color: #484848;
}

a {
    text-decoration: none;
}

.fa {
    padding: 0 !important;
}

.error {
    font-weight: 700;
    color: red;
    font-size: 1rem;
}

.form-basic {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    background-color: var(--bg-300);
    padding: 20px;

    & .form-image-upload-container {
        position: relative;

        aspect-ratio: 16/9 !important;
        border: 2px dashed var(--bg-200);
        border-radius: 10px;

        &.a-16-9 {
            width: 100%;
            height: 300px;
        }

        &.a-4-3 {
            width: min(320px, 100%);
            height: 450px;
            align-self: center;
        }
    }

    & .form-image-preview {
        z-index: 2 !important;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        position: absolute;
        display: none;
        z-index: 1;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    & .form-image-information {
        z-index: 1 !important;
        position: absolute;
        align-items: center;
        gap: 30px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        & h5 {
            font-size: 1.8rem !important;
            color: var(--secondary-bg);
            font-family: var(--family);
            font-weight: 700;
        }

        & h6 {
            font-family: var(--family);
            line-height: 1.5;
            font-size: 1.3rem !important;
        }
    }

    & .form-image-upload {
        z-index: 3 !important;
        position: absolute;
        opacity: 0;
        background-color: gray;
        aspect-ratio: 16/9;
        object-fit: contain;
        width: 100%;
        height: 100%;
        border: 1px solid gray;
        font-size: 0px !important;
        border-radius: 10px;
        display: flex;
        cursor: pointer;

        &::-webkit-file-upload-button {
            visibility: hidden;
        }

        &:hover {
            opacity: 0.1;
        }
    }

    & .form-child:has(input[type='checkbox']) {
        display: flex;
        flex-direction: row !important;
        font-size: 1.5rem;
        justify-content: flex-start;
        padding: 10px 20px;
        background-color: var(--bg-700);
        border-radius: 10px;
        margin-top: 15px;


        & label {
            cursor: pointer;
            display: flex;
            gap: 10px;
            flex-direction: row;
            align-items: center;

            & input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }

            & input~.check {
                --size: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: var(--size);
                width: var(--size);
                border-radius: 5px;
                background-color: var(--bg-500);

                & i {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--bg-500);

                    font-size: calc(var(--size)/2);
                    width: 100%;
                    height: 100%;
                }
            }

            & input:checked~.check {
                background-color: var(--secondary-bg-hover);
            }
        }
    }

    & .form-child {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &:has(.form-image-upload-container) {
            width: 100%;
            align-self: center;
            text-align: center;
        }

        & label {
            color: var(--black-100);

        }

        & input,
        textarea,
        select {
            border: 1px solid var(--outline-color) !important;
            outline: none;
            background-color: var(--bg-700);
            font-size: 1.4rem;
            color: var(--black-100);
        }


    }

    & .form-submit {
        width: fit-content;
        align-self: flex-end;
        padding: 10px 20px;
        color: white;
        background-color: var(--primary-bg);
        border-radius: 10px;

        &:hover {
            background-color: var(--primary-bg-hover);
        }
    }
}

.delete-icon{
    color: red;
    cursor: pointer;

    &:hover{
        color: rgb(213, 0, 0);
    }
}

.basic-button {
    background-color: var(--primary-bg);
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px 30px;
    width: fit-content !important;
    margin-top: 20px;

    transform: scale(1);
    transition: transform 0.2s linear;

    &:hover {
        background-color: var(--primary-bg-hover);
        transform: scale(0.95);
        transition: all 0.2s linear;
    }
}

.buttonnimation{
    transform: scale(1);
    transition: all .3s linear;

    &:hover{
        transform: scale(0.9);
    }
}

.search-container {
    border: 1px solid var(--outline-100);
    padding: 10px;
    border-radius: 10px;
    font-size: 0.8rem;
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-300);
    gap: 10px;

    &.search-full{
        border-radius: 0px !important;
        border: none;
         input{
            background-color: var(--bg-300);
         }
    }

    &.search-ms {
        width: min(300px, 100%);
    }

    & button {
        font-size: 1.4rem;
        background-color: transparent;
        border: none;
    }

    & input {
        border: none;
        outline: none;
        flex-grow: 1;
        font-size: 1.4rem;
        padding: 10px;
        background-color: var(--bg-500);
    }
}

.close-button {

    width: var(--size-close);
    aspect-ratio: 1/1;
    font-size: calc(var(--size-close) / 2);
    cursor: pointer;

    transform-origin: right;
    transition: transform .2s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary-bg);
    border-radius: 50%;
    transform: translate(0px, 0px) scale(0.95);
    color: var(--primary-color);

    &:hover {
        transform: translate(20px, 20px) scale(1.1);
        transition: transform .2s ease-in-out;
    }

    &.offsite {
        transform: translate(10px, -10px) scale(0.95) !important;
        transition: transform .2s ease-in-out;

        &:hover {
            transform: translate(10px, -10px) scale(1.1) !important;
        }
    }
}

.load-dis{
    display: none !important;
}

.loading{
    display: flex;
    align-items: center;
    justify-content: center;

    & img{
        animation: loading 1.5s linear infinite;
    }
}

.load-more{
    position: relative;

    & .load-more-content{
        background-color: var(--bg-500);
        width: fit-content;
        padding: 0 10px;
        cursor: pointer;

        &:hover *{
            color: var(--primary-bg) !important;
        }
    }

    &.load-await{
        display: none !important;
    }

    &[data-disabled]{
        cursor: default;
    }

    &::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 2px;
        background-color: var(--bg-700);
        z-index: -1;
    }
}

/* SLIDERZ */
[data-sliderz-main] {
    height: var(--height-slider);
    width: var(--width-slider);
    position: relative;
}

[data-slider-holder] {
    position: relative;
    overflow: hidden;
    height: var(--height-slider);
    width: var(--width-slider);
}

.sliderz-indicator {

    --offset-indicator: 0px;

    display: flex;
    gap: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: var(--offset-indicator);
    padding-bottom: 20px;
    font-size: 1.2rem;
    color: var(--black-400);

    & .active {
        color: var(--primary-bg);
    }
}

.slider-control {
    position: absolute;
    display: flex;

    align-items: center;
    justify-content: space-between;
    right: 0;
    left: 0;
    bottom: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
    width: 100%;
    height: fit-content !important;
    padding: 0 20px;

    & div {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 10px;

        border: 1px solid var(--black-100);
        background-color: var(--bg-200);
        color: var(--black-100);

        cursor: pointer;
        z-index: 2;

        &:hover {
            border: 0px solid var(--black-100);
            background-color: var(--black-400);
            color: var(--white-100);
            transition: border 0.1s linear;
        }
    }
}

[data-slider-track] {
    list-style-type: none;
    position: absolute;

    margin-bottom: 0;
    transform: translateX(0);
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    display: flex;
    flex-direction: row !important;
    flex-wrap: nowrap;
    align-items: center;
    transition: transform 0.4s ease-in-out;

    padding: 0 !important;
    margin: 0 !important;

    & [data-slider-item] {

        & * {
            width: var(--width-slides);
        }

    }
}


/* === TYPE CONFIGURATION === */
[data-slider-track='normal'] {
    justify-content: center;
    gap: 40px !important;
}

[data-slider-track='100'] {
    gap: 0px !important;

    & [data-slider-item] {
        min-width: 100%;
    }
}

/* SLIDERZ */
/* ============== */
/* PAGINATION */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.page-btn {
    width: fit-content;
    height: fit-content;
    background-color: #FFA82F;
    color: white;
    border: none;
    margin: 0 5px;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        background-color: #e69528;
    }
}

.page-btn.active {
    background-color: gray;
    cursor: default !important;

    &:hover {
        background-color: rgb(97, 97, 97);
    }
}

.page-btn::marker {
    content: '' !important;
}

.page-btn.disabled {
    background-color: gray;
    cursor: default !important;

    &:hover {
        background-color: rgb(97, 97, 97);
    }
}

.page-btn>a,
.page-btn.active>span,
.page-btn.disabled>span {
    text-decoration-line: none;
    color: white;
    padding: 5px 10px;
}

.page-numbers {
    display: flex;
    padding: 0;
}

/* PAGINATION */
/* ============== */

/* === STYLING TEMPLATES === */

.w-100 {
    width: 100% !important;
}

.vw-100 {
    width: 100vw !important;
}

.h-100 {
    height: 100% !important;
}

.vh-100 {
    height: 100vh !important;
}

.dgrid {
    display: grid;
}

.dgrid-col-2 {
    grid-template-columns: 1fr 1fr;
}

.dgrid-row-2 {
    grid-template-rows: 1fr 1fr;
}

/* FLEX TEMPLATES */
.frow {
    display: flex;
}

.fcol {
    display: flex;
    flex-direction: column;
}

.fwrap {
    display: flex;
    flex-wrap: wrap;
}

.jccenter {
    justify-content: center;
}

.jcfstart {
    justify-content: flex-start;
}

.jcfend {
    justify-content: flex-end;
}

.jcsbetween {
    justify-content: space-between;
}

.jcsaround {
    justify-content: space-around;
}

.aicenter {
    align-items: center;
}

.aifstart {
    align-items: flex-start;
}

.aifend {
    align-items: flex-end;
}

.aisbetween {
    align-items: space-between;
}

.aisaround {
    align-items: space-around;
}

.g-1 {
    gap: 10px;
}

.g-2 {
    gap: 20px;
}

.ga-3 {
    gap: 30px;
}

.ga-4 {
    gap: 40px;
}

.ga-5 {
    gap: 50px;
}

/* FLEX TEMPLATES */

/* PADDINGS */
.p-0 {
    padding: 0 !important;
}

.p-10 {
    padding: 10px !important;
}

.p-20 {
    padding: 20px !important;
}

.p-30 {
    padding: 30px !important;
}

.p-40 {
    padding: 40px !important;
}

.p-50 {
    padding: 50px !important;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-50 {
    padding-top: 50px;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.px-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.px-40 {
    padding-left: 40px;
    padding-right: 40px;
}

.px-50 {
    padding-left: 50px;
    padding-right: 50px;
}

/* MARGINS  */
.m-0 {
    margin: 0 !important;
}

.m-10 {
    margin: 10px !important;
}

.m-20 {
    margin: 20px !important;
}

.m-30 {
    margin: 30px !important;
}

.m-40 {
    margin: 40px !important;
}

.m-50 {
    margin: 50px !important;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-extra {
    margin-bottom: var(--spacing-top-nav);
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-extra {
    margin-top: var(--spacing-top-nav);
}

.my-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.my-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.my-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.my-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.mx-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.mx-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.mx-30 {
    margin-left: 30px;
    margin-right: 30px;
}

.mx-40 {
    margin-left: 40px;
    margin-right: 40px;
}

.mx-50 {
    margin-left: 50px;
    margin-right: 50px;
}

/*  FONT-WEIGHT */
.rwe {
    font-weight: 400;
}

.sbwe {
    font-weight: 500;
}

.bwe {
    font-weight: 700;
}

/* FONT-SIZE */
.h-99 {
    font-size: 4.5rem;
}

.h-98 {
    font-size: 4rem;
}

.h-97 {
    font-size: 2.5rem;
}

.h-96 {
    font-size: 2rem;
}

.h-95 {
    font-size: 1.75rem;
}

.h-94 {
    font-size: 1.5rem;
}

.h-93 {
    font-size: 1.25rem;
}

.h-92 {
    font-size: 1rem;
}

/* TEXT ALIGN */
.tacenter{
    text-align: center;
}

/* COLOR BASED STYLING */
.bor-50-p20-white {
    border-radius: 50%;
    padding: 20px;
    background-color: var(--bg-300);
    color: var(--black-100);
}

.darkness-backdrop,
.darkness-backdrop-100,
.darkness-backdrop-200 {
    background-color: rgb(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 15;
    opacity: 0;
    transition: opacity .2s linear;
    display: none;

    &.active {
        opacity: 1;
        display: flex;
        visibility: visible;
    }
}

.darkness-backdrop-100 {
    background-color: rgb(0, 0, 0, 0.75) !important;
}

.darkness-backdrop-200 {
    background-color: rgb(0, 0, 0, 0.9) !important;
}


/* NAVIGATION */
.main-navigation {
    display: flex;
    background-color: transparent;
    padding: 20px 120px;
    width: 100%;
    align-items: center;

    position: fixed;
    top: 0;
    z-index: 10;
    color: white;
    transform: translateY(-100%);
    transition: all .4s ease-in-out;

    justify-content: space-between;

    &:has(.dropdown-menu.show){
        transform: translateY(0) !important;
    }

    & .dropdown-item {
        font-size: 1.1rem;
        padding: 7px !important;
        width: 100%;
    }

    & .rooted{
        left: -2.8px !important;
        border-radius: 0px !important;
        padding: 0 !important;

        & button{
            padding: 7px !important;
        }
    }

    & .navbar-button-scroll {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 100%);
        cursor: pointer;
        opacity: 0;
        flex-shrink: 10;

        &:hover {
            filter: brightness(0.9);
        }

        & * {
            color: white !important;
            transform: rotate(0deg);
            transition: all .3s linear;
        }
    }

    &.contrast {
        background-color: var(--secondary-bg-a);
    }

    &.showed,
    &.showed-lock {
        transform: translateY(0) !important;
        transition: all .4s ease-in-out;
    }

    &.showed-lock {
        & .navbar-button-scroll {
            & * {
                transform: rotate(180deg);
                transition: all .3s linear;
            }
        }
    }

    &.scrolled {
        background-color: var(--secondary-bg-a);
        padding: 20px 120px;

        & .navbar-button-scroll {
            display: flex;
            background-color: var(--secondary-bg-a);
            border-radius: 100px;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            font-size: 1.6rem;
            padding: 5px 30px 10px 30px;
            opacity: 1;

            &.dboard {
                color: black;
                background-color: var(--primary-color) !important;
            }

        }
    }

    & * {
        list-style-type: none;
    }
}

.main-side-navigation {
    display: none;
    visibility: hidden;

    background-color: var(--bg-300);
    width: min(350px, 100%);
    position: fixed !important;
    right: 0;
    transform: translateX(100%);
    top: 0;
    z-index: 16 !important;
    height: 100vh;
    transition: transform .4s ease-in-out;
    position: relative;
    overflow: hidden;
    padding: 0 20px;

    --size-close: 100px;
    --offset-position: 30px;
    --offset-position-transform: -30px;

    &.reverse {
        left: 0 !important;
        transform: translateX(-100%) !important;

    }

    &.open {
        transform: translateX(0%) !important;

        & .close-side-nav {
            transform: translate(var(--offset-position-transform), var(--offset-position-transform)) scale(1);
            transition: transform .2s ease-in-out;
            transition-delay: 0.2s;

            &:hover {
                transform: translate(var(--offset-position-transform), var(--offset-position-transform)) scale(1.1);
                transition: transform .2s ease-in-out;
            }
        }
    }

    & .close-side-nav {
        width: var(--size-close);
        aspect-ratio: 1/1;
        font-size: 2.8rem;
        cursor: pointer;

        /* transition-delay: 5s; */
        transform-origin: left;
        transition: transform .2s ease-in-out;

        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--primary-bg);
        border-radius: 50%;
        /* padding: 40px; */
        transform: translate(-40px, -40px) scale(0.1);
        color: var(--primary-color);
    }

    & .side-navbar-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: calc(var(--size-close) - var(--offset-position) + 35px);

        &::-webkit-scrollbar{
            background-color: transparent;
            width: 5px;
            height: 10px;
        }
    
        &::-webkit-scrollbar-thumb{
            border-radius: 10px;
            background-color: var(--black-500);
        }

        & [data-rooted-container]{

            & .dropdown-symbol{
                transform: rotate(0deg) !important;
                transition: transform .5s ease-in-out;
            }

            & [data-rooted-link]{
                background-color: transparent !important;
            }

            &:hover [data-rooted-link]{
                    background-color: var(--bg-600) !important;
            }

            &.active {

                & [data-rooted-link] {
                    background-color: var(--bg-600) !important;

                    &:hover{
                        background-color: var(--bg-700) !important;
                    }
                }

                & .dropdown-symbol {
                    transform: rotate(90deg) !important;
                    transition: transform .5s ease-in-out;
                }
            }
        }

        & [data-dropdown-nav-button] {
            padding: 10px;
            border-radius: 10px;
            width: 100%;

            & * {
                margin-bottom: 0;

                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.5rem !important;
                cursor: pointer;


            }
        }

        & .dropdown-container {
            text-decoration: none;
            color: black;

            & [data-dropdown-nav-button]{
            cursor: pointer;

            }

            &:hover [data-dropdown-nav-button] {
                background-color: var(--bg-600);
            }

            &.active {

                & [data-dropdown-nav-button] {
                    background-color: var(--bg-600);

                    &:hover{
                        background-color: var(--bg-700);
                    }
                }

                & .dropdown-symbol {
                    transform: rotate(90deg);
                    transition: transform .5s ease-in-out;
                }

                & .dropdown-content {

                    &::after {
                        content: '';
                        transform: scale(1);
                        transition: all .8s ease-in-out;
                        height: 2px;
                    }
                }

            }


            & .dropdown-symbol {
                transform: rotate(0deg);
                transition: transform .5s ease-in-out;
            }

            & .dropdown-content {
                display: flex;
                flex-direction: column;
                margin-left: 22px;
                gap: 10px;
                position: relative;
                overflow: hidden;
                max-height: 0;
                transition: all .5s ease-in-out;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: var(--bg-200);
                    transform: scale(0);
                    transform-origin: center;
                    transition: all .8s ease-in-out;
                }

                &::before {
                    content: '';
                    position: absolute;
                    z-index: 5;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 3px;
                    background-color: var(--bg-200);
                }

                & > a:hover{
                    background-color: var(--bg-500);
                }

                & .disabled{
                    cursor: default !important;
                    pointer-events: none;
                    color: rgb(146, 146, 146);
                }

                &>* {
                    position: relative;
                    font-size: 1.5rem;
                    padding: 10px;
                    padding-left: 30px;
                    margin: 0;
                    text-decoration: none;
                    color: var(--black-100);

                    &::before {
                        content: '';
                        width: 20px;

                        height: 3px;
                        background-color: var(--bg-200);
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 1px;
                    }
                }
            }
        }

        & .fa-solid {

            font-size: 1.6rem;
        }

        & .nav-symbol {
            width: 35px;
            aspect-ratio: 1/1;
        }
    }
}

.navbar-list {
    margin: 0 !important;
    display: flex;
    color: white;
    gap: 30px;
    align-items: center;
    justify-content: center;
    font-family: 'montserrat';
    text-transform: uppercase;
}

.sidebar-button {
    display: none;
    background-color: transparent;
    padding: 10px;
    aspect-ratio: 1/1;

    & * {
        color: white !important;
    }

    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;

    &:hover {
        background-color: white;
        
        & *{
            color: #000 !important;
        }
    }
}

.nav-item {
    color: white !important;
    position: relative;
    font-size: 1.3rem;

    &:after {
        content: '';
        width: 100%;
        transform: scale(0);
        transform-origin: left;
        background-color: var(--primary-bg);
        height: 2px;
        transition: transform .5s ease-in-out;
        position: absolute;
        left: 0;
        bottom: -10px;
    }

    &:hover:after {
        content: '';
        transform: scale(1);
    }

    & .search-nav {
        & * {
            color: white !important;
        }

        &:hover {
            color: var(--primary-bg);
        }
    }

    &:hover {
        color: var(--primary-bg) !important;
    }
}

/* NAVIGATION */

.search-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 150px;
    z-index: 9999;
    display: none;

    &.active {
        display: flex !important;
    }

    /* Hidden by default */
}

/* MISCELLANOUS STYLES */

.misc-container{
    padding: 0 var(--spacing-top-nav);
}

.entry-title{
    font-size: 2rem;
    color: var(--white-600);
    border-bottom: 1px solid var(--white-600);
    ;
}

.misc-content{
    font-size: 1.2rem;
    line-height: 1.6;
    padding: 0 20px;

    & .h-1-misc{
        margin-bottom: 20px !important;
        font-size: 1.4rem !important;
    }

    & .h-4-misc{
        margin-top: 30px !important;
        margin-bottom: 20px !important;
        font-size: 1.3rem !important;
        letter-spacing: 2px;
    }

    & .misc-img{
        margin-top: 30px;

        & img{
            width: 100%;
        }
    }

    & *{
        color: var(--white-600);
    }
}

/* HERO FOR PAGES */
.hero-page {
    width: 100%;
    background-color: var(--secondary-bg);
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 100px;

    & h5 {
        font-size: 2.5rem;
        color: white;
    }

    & h3{
        font-size: 1.7rem;
        font-weight: 300;
        text-align: center;
        color: rgb(181, 181, 181);
    }
}

/* NOT FOUND IMAAGE */
.not-found-image-container {
    width: 100%;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.not-found-data {
    width: min(350px, 100%);
    height: auto;

    &.sm {
        width: min(150px, 100%);
    }
}

/* ALERTZ */
@keyframes enter { 
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-5%);
    }
}

@keyframes leave {
    0%{
        transform: translateX(-5%);
    }
    100%{
        transform: translateX(100%);
    }
}

@keyframes status {
    0%{
        transform: scaleX(1)  translateY(-5px);
    }
    100%{
        transform: scaleX(0)  translateY(-5px);
    }
}

    .alertz-holder{
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        z-index: 9999;
        transition: all .3s linear;


        & .alertz-container{
            position: relative !important;
            transition: all .3s linear;
        }
    }

    .alertz-container{
        z-index: 9999;
        animation: enter 0.6s forwards;
        display: flex;
        padding: 10px;
        align-items: flex-start;
        gap: 10px;
        position: fixed;
        padding: 15px 30px 15px 15px;
        border-radius: 10px;
        border-bottom-left-radius: none;
        border-bottom-right-radius: none;
        right: 0;
        top: 10px;
        width: min(300px, 100%);
        cursor: pointer;

    &.active{
        animation: leave 0.6s forwards;
    }

    &.danger{
        background-color: rgba(255, 0, 0, 0.4);
    }

    &.success{
        background-color: rgba(0, 255, 4, 0.4);
    }

    & .alert-icon{
        line-height: 2 !important;
    }

    & .alert-content{
        display: flex;
        flex-direction: column;
        font-size: 1.3rem;
    }

    & .alert-status{
        animation: status 3s linear forwards;
        transform: scaleX(1) translateY(-5px);
        animation-delay: 0.5s;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        height: 5px;
        background-color: white;
        position: absolute;
        bottom: -5px;
        transform-origin: right;
        left: 0;
        width: 100%
    }
}

/* FOOTER */
.footer {
    background-color: var(--footer-bg);
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



    & .footer-top {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }

    & .footer-bg-logo {
        display: flex;
        align-items: flex-start;
        /* Center the logo vertically */
        background: var(--footer-head-bg);
        height: fit-content;
        min-width: fit-content;
        padding: 50px 20px;
        /* Adjust padding as needed */
    }

    & .footer-content {
        background-color: var(--footer-content-bg);
        height: 100%;
        width: 60%;
        gap: 20px;
        flex-wrap: wrap;
        padding: 60px 10px 30px 30px;
        font-size: 1.4rem;


        & .footer-social {
            & li {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;

                & div {
                    width: 15px;
                    height: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        & ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0;
            gap: 10px;
        }

        & div {
            width: 150px;
            gap: 20px;
        }
    }

    & h4 {
        color: #ffffff;
        font-weight: 500;
        margin: 0 !important;
    }

    & .footer-bottom {
        width: 100%;
        background-color: var(--footer-head-bg);
        padding: 40px 0;
        text-align: center;
        height: fit-content;

        & p {
            margin: 0 !important;
        }
    }
}

.footer ul li a {
    color: #bcbcbc !important;
    text-decoration: none;
    font-weight: 300;
    color: #a6b5d4;
}

.footer ul li a:hover {
    color: #f4a261 !important;
    /* Highlight color on hover */
}

/* FOOTER */

@media only screen and (max-width: 1200px) {
    .main-navigation {
        padding: 20px 50px;

        &.scrolled {
            padding: 20px 50px;
        }
    }

}

@media only screen and (max-width: 1080px) {
    .navbar-list {
        display: none;
    }

    .sidebar-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-side-navigation {
        display: flex !important;
        visibility: visible;
    }

    .hero {
        column-gap: 20px;
        grid-template-columns: 1fr 1fr !important;

        & .hero-image {
            justify-self: flex-end;
        }

        & .hero-container {

            & p {
                width: min(400px, 100%);

            }
        }
    }

    .gallery-modal {
        width: 85%;
    }

    .misc-container{
        padding: 0 50px;
    }
}

@media only screen and (max-width: 850px) {

    .hero {
        display: flex !important;
        justify-items: flex-start !important;
        position: relative;

        & .hero-image {
            position: absolute;
            right: 20px;
            bottom: 0;
        }

        & .hero-container {
            background-color: var(--secondary-bg-a);
            padding: 20px;
            position: relative;
            z-index: 2;
            max-width: 480px !important;
            margin-top: 50px;

            display: flex;
            flex-direction: column;
            gap: 20px;

            & h2 {
                font-size: 3.8rem;
            }

            & p {
                width: min(480px, 100%);
            }
        }
    }

    .welcome {
        display: none !important;
    }

    .welcome-850 {
        padding: 20px 80px;
        display: flex !important;
        justify-content: center;
        align-items: center;

        & .welcome-photo {
            display: flex;
            justify-content: center;
        }

        & * {
            align-items: center !important;
            text-align: center;

        }
    }

    .cta-content {
        margin: var(--spacing-section) 0;
    }

    .faith-section-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .search-modal {
        padding: 0 50px;
    }

    .gallery-modal {
        width: 85%;
        height: fit-content;
    }

}

/* Responsive Styles */
@media (max-width: 768px) {

    .cta-content {
        flex-direction: column;
        /* margin: 0 100px; */


        &::before {
            background-image: url('/images/cta-back-768.jpg');
        }
    }

    .cta-text {
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        text-align: center;
    }

    .navbar {
        display: flex;
        color: white;
        gap: 20px;
        width: 100%;
        margin: 0 auto;
        padding: 10px 20px;
    }

    .info-section {
        flex-direction: column;
        align-items: flex-start;
        height: 450px !important;
        padding: 0 50px !important;
        translate: 0px -20px;

    }

    .info-box {
        width: 100%;
        text-align: center;
    }

    .featured-video {
        display: flex;
        flex-direction: column-reverse;
        gap: 40px;
        text-align: center;

        & .featured-desc {
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }

    .form-image-information>section {
        display: none;
    }

    .we-have-faith .section-content {
        flex-direction: column;
        gap: 20px;
    }

    footer {

        & .footer-content {
            width: 100% !important;
            padding: 30px 20px !important;
            justify-content: space-around !important;
        }

        & .footer-top {
            display: flex;
            flex-direction: column !important;
        }
    }

}

@media only screen and (max-width: 650px) {
    .main-hero {
        height: 550px;
    }

    .hero {

        & .hero-container {
            max-width: 480px !important;
            margin-top: 50px;
            background-color: transparent;
            padding: 0 30px;
            margin: 0;

            & p {
                width: min(480px, 100%);
            }
        }

        & .hero-image {
            display: none;
        }
    }

    .featured-gallery {
        display: flex;
        flex-direction: column !important;
        margin-top: 140px;
        margin-bottom: 120px;

    }

    .tab-content {
        padding: 20px 0 !important;
    }

    .misc-container{
        margin-top: var(--spacing-section);
        padding: 0 25px;
    }

    .misc-content{
        padding: 0 !important;
    }
}

@media (max-width: 480px) {
    .faith-section-content {
        display: grid;
        grid-template-columns: 1fr;
    }

    .hero {
        padding-top: 40px;
    }

    .hero-container {
        flex-grow: 1;
        padding: 0 !important;

        & h2 {
            font-size: 3.2rem !important;
        }

        & p {
            font-size: 1.4rem;
        }
    }

    .academic-calendar {
        padding: 0 50px;
    }

    .info-section {
        max-width: 100%;
        padding: 0 !important;
    }

    .main-navigation {
        padding: 10px 20px;

        &.scrolled {
            padding: 10px 20px;

        }

        & img {
            width: 180px;
        }
    }

    .featured-video {
        padding: 50px 30px;
    }

    footer {
        & .footer-logo {
            width: 250px;
            height: auto;
        }

        & .footer-content {
            width: 100% !important;
            padding: 30px 20px !important;
            justify-content: flex-start !important;
        }
    }

    .search-modal {
        padding: 0 20px;
    }
}

@keyframes loading {
    0%{
        transform: rotate(0deg);
    }

    50%{
        transform: rotate(180deg);
    }

    100%{
        transform: rotate(360deg);
    }
}